/* Desktop styles (default) */
body {
  font-family: "Noto Sans", sans-serif;
  background: #DEF2F1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome-screen {
  width: 1200px;
  height: 600px;
  text-align: center;
  border: 3px solid black;
  background: #8367C7;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 100px;
  color: #333;
  margin: 0 0 20px;
}



button {
  height: 100px;
  width: 300px;
  padding: 10px 20px;
  background: #27233A;
  border: none;
  border-radius: 5px;
    color: #fff;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

h2 {
  font-size: 30px;
}

button:hover {
  background: #2980b9;
}

/* Mobile styles (using a media query for screens up to 768px, adjust as needed) */
@media (max-width: 768px) {
  .welcome-screen {
      width: 90%;
      height: 1000px;
      padding: 5%;
  }

  h2{
    font-size: 16px;
  }


  h1 {
      font-size: 40px;
      margin: 0 0 10px;
  }

  button {
      height: 60px;
      width: 50%;
      font-size: 16px;
  }

}
  
  @keyframes tap-upper-1 {
    0%, 50%, 100% {
      transform: rotate(10deg) scale(0.4);
    }
  
    40% {
      transform: rotate(50deg) scale(0.4);
    }
  }
  
  @keyframes tap-upper-2 {
    0%, 50%, 100% {
      transform: rotate(10deg) scale(0.6);
    }
  
    40% {
      transform: rotate(50deg) scale(0.6);
    }
  }
  
  @keyframes tap-upper-3 {
    0%, 50%, 100% {
      transform: rotate(10deg) scale(0.8);
    }
  
    40% {
      transform: rotate(50deg) scale(0.8);
    }
  }
  
  @keyframes tap-upper-4 {
    0%, 50%, 100% {
      transform: rotate(10deg) scale(1);
    }
  
    40% {
      transform: rotate(50deg) scale(1);
    }
  }

  #preloader{
    background: #6d44cd url(loading.gif) no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;  
    z-index: 100;

  }

  
  
